:root {
	--font-family: 'Pretendard';
	--black-color: #222;
	--vh: 100%;
	/* ⭐ 색상 변경 */
	--change-color: #ff8494;
}

/* font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

@font-face {
	font-family: 'GmarketSansBold';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Normalize */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	vertical-align: bottom;
}

table {
	border-collapse: collapse;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button,
input,
select,
textarea {
	font-family: inherit;
	outline: none;
}

button {
	color: inherit;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

textarea {
	resize: none;
}

.img {
	width: 100%;
	height: auto;
	image-rendering: -webkit-optimize-contrast;
	transform: translateZ(0);
	backface-visibility: hidden;
}

/* checkbox */
input[type=checkbox] {
	display: none;
}

input[type=checkbox]+label {
	display: inline-block;
	line-height: 20px;
	background: url('../img/check.svg') left center no-repeat;
	padding-left: 30px;
	cursor: pointer;
}

input[type=checkbox]:checked+label {
	display: inline-block;
	line-height: 20px;
	background: url('../img/check-on.svg') left center no-repeat;
}

/* swal */
.swal2-popup {
	width: 250px !important;
}

.swal2-title {
	font-family: var(--font-family) !important;
	font-size: 16px !important;
	color: #222 !important;
	margin-top: 15px !important;
}

.swal2-actions {
	margin-top: 10px !important;
}

.swal2-styled.swal2-confirm {
	padding: 8px 20px;
	outline: none !important;
	box-shadow: none !important;
	background-color: #0d6eee !important;

	&:hover {
		background-color: #0d6eee !important;
	}
}

/* 스크롤 */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #c8c8c8;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

/* 공통 */
body {
	height: calc(var(--vh, 1vh) * 100);
	font-family: var(--font-family);
	color: var(--black-color);
	overflow: hidden;
}

.wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 100%;
	width: 100%;
	height: 100%;
	margin: auto;
	padding-top: 24px;
}

/* wrapper */
.wrapper {
	flex: 1;
	overflow-y: auto;
}

/* pop_up */
.pop_up {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	width: 100%;
	height: 100vh;
	font-family: var(--font-family);
	background: rgba(0, 0, 0, 0.8);
	padding: 0 20px;

	.pop_content {
		position: relative;
		max-width: 320px;
		max-height: 555px;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		background-color: #3765ff;
		overflow: hidden;

		.check_wrap {
			position: absolute;
			top: 290px;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			font-size: 10px;
			letter-spacing: -0.2px;
			color: #000;

			input[type=checkbox]+label {
				line-height: 16px;
				background: url('../img/check-s.svg') left center no-repeat;
				padding-left: 20px;
			}

			input[type=checkbox]:checked+label {
				line-height: 16px;
				background: url('../img/check-s-on.svg') left center no-repeat;
			}
		}

		.btn_wrap {
			margin: 23px 25px 24px;

			button {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 43px;
				font-family: 'GmarketSansBold';
				font-size: 16px;
				font-weight: bold;
				border-radius: 21.5px;
				background-color: #4bff8d;
				color: #222;

				&::after {
					content: "";
					width: 7px;
					height: 12px;
					background: url('../img/left2.svg') no-repeat center;
					margin-left: 8px;
				}

				&.chrome::before {
					content: "";
					width: 20px;
					height: 20px;
					background: url('../img/img-chrome.png') no-repeat center;
					margin-right: 8px;
				}

				&.safari::before {
					content: "";
					width: 20px;
					height: 20px;
					background: url('../img/img-safari.png') no-repeat center;
					margin-right: 8px;
				}
			}
		}
	}

	.today {
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		color: #fff;
		margin-top: 12px;

		button {
			display: flex;
			align-items: center;
			font-size: 14px;
			color: #fff;


			&::before {
				content: "";
				width: 14px;
				height: 14px;
				background: url('../img/modal_btn-close.svg') no-repeat center;
				margin-right: 10px;
			}
		}
	}
}