/* header */
header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 20px;
  -webkit-box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.05);
}
header .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 500;
}
header .num::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/btn-back.svg") no-repeat center;
  margin-right: 10px;
}
header .header_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
header .header_wrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 34px;
  border-radius: 5px;
  background-color: #fff;
  padding: 9px 0;
}
header .header_wrap .naver_pay {
  font-size: 14px;
  font-weight: 500;
  color: #01c136;
  border: 1px solid #01c136;
}
header .header_wrap .naver_pay span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_wrap .naver_pay span::before {
  content: "";
  width: 45px;
  height: 19px;
  background: url("../img/icon-npay2.svg") no-repeat center;
  margin-right: 2px;
}
header .header_wrap .talk_point {
  font-size: 13px;
  font-weight: 800;
  color: #000;
  border: 1px solid #f8e40a;
}
header .header_wrap .talk_point span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_wrap .talk_point span::before {
  content: "";
  width: 16px;
  height: 15px;
  background: url("../img/icon-talkpoint2.svg") no-repeat center;
  margin-right: 5px;
}
header .header_wrap .setting_btn {
  width: 20px;
  height: 20px;
  background: url("../img/btn-setting.svg") no-repeat center;
  margin-left: 2px;
}

/* wrapper */
.wrapper {
  background-color: #f8f8f8;
  padding: 20px;
}

/* talk_wrap */
.talk_wrap .talk {
  margin-bottom: 20px;
  /* company_wrap */
}
.talk_wrap .talk .company_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}
.talk_wrap .talk .company_wrap .profile {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 7px;
}
.talk_wrap .talk .company_wrap span {
  font-size: 13px;
}
.talk_wrap .talk .talk_cont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  /* talk_box */
}
.talk_wrap .talk .talk_cont .talk_box {
  border-radius: 10px;
  background-color: #fff;
  margin-left: 27px;
  /* wide_box */
  /* carousel_box */
}
.talk_wrap .talk .talk_cont .talk_box h3 {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 12px 0;
}
.talk_wrap .talk .talk_cont .talk_box .point {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  border: 1px solid #f3f4f6;
  border-radius: 9px;
  background-color: #f6f6f6;
  padding: 2px 6px;
  margin-bottom: 12px;
}
.talk_wrap .talk .talk_cont .talk_box .point::before {
  content: "";
  width: 14px;
  height: 14px;
  background: url("../img/icon-point.svg") no-repeat center;
  margin-right: 3px;
}
.talk_wrap .talk .talk_cont .talk_box .round {
  border-radius: 5px;
  overflow: hidden;
}
.talk_wrap .talk .talk_cont .talk_box .cont {
  padding: 15px;
}
.talk_wrap .talk .talk_cont .talk_box .cont h5,
.talk_wrap .talk .talk_cont .talk_box .cont p {
  white-space: wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  letter-spacing: -0.26px;
  overflow: hidden;
}
.talk_wrap .talk .talk_cont .talk_box .cont h5 {
  font-size: 14px;
  line-height: 1.29;
  -webkit-line-clamp: 2;
  margin-bottom: 5px;
}
.talk_wrap .talk .talk_cont .talk_box .cont p {
  font-size: 13px;
  color: #777;
  line-height: 1.38;
  -webkit-line-clamp: 5;
}
.talk_wrap .talk .talk_cont .talk_box .btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.talk_wrap .talk .talk_cont .talk_box .btn_wrap button {
  width: 100%;
  height: 38px;
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  background-color: #ff8494;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.talk_wrap .talk .talk_cont .talk_box .btn_wrap button::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 9px;
  background: url("../img/icon-btn-arrow.svg") no-repeat center;
  margin-left: 5px;
}
.talk_wrap .talk .talk_cont .talk_box .btn_wrap button:hover {
  -webkit-filter: brightness(1.02);
          filter: brightness(1.02);
}
.talk_wrap .talk .talk_cont .talk_box.wide_box {
  padding: 12px;
}
.talk_wrap .talk .talk_cont .talk_box.wide_box .cont {
  padding: 15px 0;
}
.talk_wrap .talk .talk_cont .talk_box.wide_box .cont h5 {
  margin-bottom: 8px;
}
.talk_wrap .talk .talk_cont .talk_box.wide_box .cont_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-bottom: 3px;
}
.talk_wrap .talk .talk_cont .talk_box.wide_box .cont_wrap:not(:last-child) {
  margin-bottom: 15px;
}
.talk_wrap .talk .talk_cont .talk_box.wide_box .cont_wrap:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.talk_wrap .talk .talk_cont .talk_box.wide_box .cont_wrap .box {
  width: 100px;
  height: 100px;
}
.talk_wrap .talk .talk_cont .talk_box.wide_box .cont_wrap .cont {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
}
.talk_wrap .talk .talk_cont .talk_box.wide_box .cont_wrap .cont p {
  -webkit-line-clamp: 2;
}
.talk_wrap .talk .talk_cont .talk_box.carousel_box {
  padding: 12px;
}
.talk_wrap .talk .talk_cont .talk_box.carousel_box .talk_list:not(:nth-child(1)) {
  margin-top: 19px;
}
.talk_wrap .talk .talk_cont .talk_box.carousel_box .cont {
  padding: 15px 0 3px 0;
}
.talk_wrap .talk .talk_cont .talk_box.carousel_box .btn_wrap {
  margin-top: 12px;
}
.talk_wrap .talk .talk_cont .time {
  font-size: 11px;
  text-align: right;
  color: #888;
  margin-top: 8px;
}

/* nav */
nav {
  width: 100%;
  background-color: var(--change-color);
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav ul li {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}
nav ul li:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}
nav ul li.no_icon a::before {
  width: 0;
  height: 0;
  margin-bottom: 0;
}
nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 80px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
}
nav ul li a::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  margin-bottom: 9px;
}
nav ul li:nth-child(1) a::before {
  background: url("../img/icon-menu-coupon.svg") no-repeat center;
}
nav ul li:nth-child(2) a::before {
  background: url("../img/icon-menu-best.svg") no-repeat center;
}
nav ul li:nth-child(3) a::before {
  background: url("../img/icon-menu-instagram.svg") no-repeat center;
}
nav ul li:nth-child(4) a::before {
  background: url("../img/icon-menu-instagram.svg") no-repeat center;
}

/* modal_wrap */
.modal_wrap {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.modal_wrap.modal_wrap1 .pop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  height: 188px;
  font-size: 15px;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
}
.modal_wrap.modal_wrap1 .pop .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
.modal_wrap.modal_wrap1 .pop .modal_btn button {
  width: 115px;
  height: 40px;
  font-size: 15px;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.modal_wrap.modal_wrap1 .pop .modal_btn .cancle_btn {
  color: #7f7f7f;
  background-color: #ececec;
}
.modal_wrap.modal_wrap1 .pop .modal_btn .cancle_btn:hover {
  -webkit-filter: brightness(1.015);
          filter: brightness(1.015);
}
.modal_wrap.modal_wrap1 .pop .modal_btn .remove_btn {
  color: #fff;
  background-color: #ff8494;
}
.modal_wrap.modal_wrap1 .pop .modal_btn .remove_btn:hover {
  -webkit-filter: brightness(1.05);
          filter: brightness(1.05);
}
.modal_wrap.modal_wrap2 {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.modal_wrap.modal_wrap2 .pop {
  width: 100%;
  height: 100px;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  padding: 20px 20px 28px 20px;
}
.modal_wrap.modal_wrap2 .pop .modal_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}
.modal_wrap.modal_wrap2 .pop .modal_btn button {
  font-size: 12px;
  color: #999;
}
.modal_wrap.modal_wrap2 .pop .modal_btn .close_btn {
  width: 19px;
  height: 19px;
  background: url("../img/btn-close.svg") no-repeat center;
}
.modal_wrap.modal_wrap2 .pop .remove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  color: #f00;
}
.modal_wrap.modal_wrap2 .pop .remove::before {
  content: "";
  width: 18px;
  height: 18px;
  background: url("../img/icon-delete.svg") no-repeat center;
  margin-right: 10px;
}/*# sourceMappingURL=detail.css.map */